<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Portfolio Page</title>
</head>
<body>
    <h1>Projects</h1>
    <ul>
    {% for project in projects %}
        <li>{{ project['name'] }} ({{ project['year'] }})</li>
    {% endfor %}
    </ul>
   <h1>anantha is the super  best</h1>
    <ul>
    {% for project in projects %}
        <li>{{ project['name'] }} ({{ project['year'] }})</li>
    {% endfor %}
    </ul>

    <a href="/about">About</a>
</body>
</html>
